<section>
  <div>
    <a href='/'>left</a>
    <a href='/'>right</a>
  </div>
</section>

<style>
  section {
    width: 100%;
    padding: 0 1rem;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
</style>
