---
import Search from '@astrojs/starlight/components/Search.astro'
import type { Props } from '@astrojs/starlight/props'
import ThemeToggle from './ThemeToggle.astro'
import { HeaderMenu } from './header-menu'
---

<div>
  <nav class='border-b bg-background w-screen px-6 navbar'>
    <div class='flex justify-between items-center h-full w-full'>
      <div>
        <a
          href='/'
          class='flex items-center gap-2'
          aria-label='Astro documentation'>
          <div class='w-8 h-8 flex items-center justify-center'>
            <!-- Your logo/icon here -->
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='w-full h-full'>
              <circle cx='12' cy='12' r='3'></circle>
              <circle cx='19' cy='5' r='2'></circle>
              <circle cx='5' cy='19' r='2'></circle>
              <path d='M10.4 21.9a10 10 0 0 0 9.941-15.416'></path>
              <path d='M13.5 2.1a10 10 0 0 0-9.841 15.416'></path>
            </svg>
          </div>
          <h4 class='text-xl flex items-center gap-2 font-extrabold'>
            Astro docs
          </h4>
        </a>
      </div>

      <div class='hidden lg:flex lg:flex-1 lg:justify-center mx-4'>
        <Search {...Astro.props} />
      </div>

      <div class='hidden lg:flex gap-2 items-center'>
        <a
          target='_blank'
          rel='noopener noreferrer'
          href='https://github.com/ibra-kdbra/Math-Problems/issues'
          class='hidden h-8 rounded-md px-3 text-sm lg:inline-flex items-center
      justify-center whitespace-nowrap font-medium transition-colors
      focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring
      disabled:pointer-events-none disabled:opacity-50'>
          Support
        </a>
        <a
          href='https://github.com/ibra-kdbra/Math-Problems/tree/main/docs'
          type='button'
          target='_blank'
          rel='noopener noreferrer'
          class='hidden bg-primary dark:bg-primary/10 h-8 rounded-full px-4 py-1.5 text-sm
    lg:inline-flex items-center justify-center border whitespace-nowrap
    font-medium transition-colors focus-visible:outline-none focus-visible:ring-1
    focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50
    border-primary text-primary-foreground dark:text-primary gap-2 mr-2'>
          GitHub
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='w-3 h-3'>
            <path d='m9 18 6-6-6-6'></path>
          </svg>
        </a>

        <ThemeToggle {...Astro.props} />
      </div>

      <div class='flex'>
        <div class='flex lg:hidden gap-2 items-center'>
          <Search {...Astro.props} />
          <HeaderMenu client:load />
          <ThemeToggle {...Astro.props} />
        </div>
      </div>
    </div>
  </nav>
</div>
